* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: auto;
}
.showcase {
	height: 600px;
	margin-bottom: 200px;
}
.showcase nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 15px 0;
}
.showcase nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
}
.showcase nav li {
	padding: 10px;
}
.showcase .header__hero {
	position: absolute;
	background-image: url('https://bgorwin.github.io/coffee-subscription/assets/home/desktop/image-hero-coffeepress.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	width: 1200px;
	margin-bottom: 30px;
	border-radius: 3px;
}
.showcase .header__hero .header__hero--mainText {
	position: relative;
	top: 115px;
	left: 50px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 367px;
	max-width: 445px;
}
.showcase .header__hero .header__hero--mainText h1 {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 70px;
	color: #fefcf7;
}
.showcase .header__hero .header__hero--mainText p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: center;
	word-spacing: 1.5px;
	padding-top: 35px;
	font-size: 15px;
	color: #fefcf7;
}
.showcase .header__hero .header__hero--mainText button {
	position: relative;
	top: 65px;
	left: 0;
	font-size: 14px;
	color: #fefcf7;
	background-color: #66d2cf;
	padding: 15px 40px;
	border-radius: 6px;
	border: none;
}
.showcase a {
	color: #333d4b;
}
.our__collection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 380px;
	width: 1111px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}
.our__collection .our__collection--title {
	position: relative;
	top: -65px;
	left: -100px;
	width: 0px;
}
.our__collection .our__collection--title h1 {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(#c4c5c7),
		color-stop(52%, #dcdddf),
		to(#ebebeb)
	);
	background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	text-align: center;
	width: 1165px;
	font-weight: normal;
	font-size: 115px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(#c4c5c7),
		color-stop(52%, #dcdddf),
		to(#ebebeb)
	);
	background-image: linear-gradient(
		to top,
		#c4c5c7 0%,
		#dcdddf 52%,
		#ebebeb 100%
	);
}
.our__collection .our__coffee-card {
	width: 230px;
	height: 320px;
	padding: 10px;
	margin: 0 5px 0 5px;
	z-index: 2;
}
.our__collection .our__coffee-card img {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	height: 160px;
	width: 245px;
}
.our__collection .our__coffee-card h3 {
	font-weight: lighter;
	font-size: 18px;
	margin-top: 20px;
	text-align: center;
}
.our__collection .our__coffee-card p {
	padding-top: 20px;
	font-weight: lighter;
	text-align: center;
	font-size: 13px;
}
.why__choose-us {
	background-color: #2c343e;
	width: 1200px;
	height: 600px;
	border-radius: 3px;
	margin: 0 auto;
}
.why__choose-us .why__choose-us-heading {
	color: #fefcf7;
	width: 540px;
	height: 176px;
	justify-items: center;
	text-align: center;
	margin: 0 auto;
	padding: 85px 50px;
}
.why__choose-us h1 {
	font-size: 40px;
	margin-bottom: 25px;
}
.why__choose-us p {
	font-weight: lighter;
	font-size: 16px;
}
.why__choose-us .why__choose-us--card-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	width: 1100px;
	margin: 0 auto;
}
.why__choose-us .why__choose-us--card-section .why__choose-us-card {
	position: relative;
	top: 140px;
	left: 45px;
	background-color: #0e8784;
	height: 382px;
	width: 350px;
	margin: 10px;
	border-radius: 5px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.why__choose-us .why__choose-us--card-section .why__choose-us-card img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
	padding: 80px 10px;
}
.why__choose-us
	.why__choose-us--card-section
	.why__choose-us-card
	.why__choose-us-card--body {
	width: 255px;
	height: 124px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fefcf7;
	margin: 0 auto;
}
.why__choose-us
	.why__choose-us--card-section
	.why__choose-us-card
	.why__choose-us-card--body
	h2 {
	text-align: center;
	margin-bottom: 24px;
}
.why__choose-us
	.why__choose-us--card-section
	.why__choose-us-card
	.why__choose-us-card--body
	p {
	text-align: center;
	font-size: 16px;
}
.how__it-works--section {
	height: 380px;
	width: 1111px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 250px auto;
}
.how__it-works--section .how__it-works-card--section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.how__it-works--section .how__it-works-card--section .how__it-works--card {
	width: 285px;
	height: 345px;
	margin: 30px 85px 30px 0px;
}
.how__it-works--section .how__it-works-card--section .how__it-works--card span {
	font-size: 72px;
	color: #fdd6ba;
}
.how__it-works--section .how__it-works-card--section .how__it-works--card h2 {
	color: #2c343e;
	width: 170px;
	font-size: 32px;
	margin: 40px 0px;
}
.how__it-works--section .how__it-works-card--section .how__it-works--card p {
	color: #333d4b;
	font-size: 16px;
}
.how__it-works--section .how__it-works--button {
	position: relative;
	top: 65px;
	left: 0;
	font-size: 14px;
	color: #fefcf7;
	background-color: #66d2cf;
	padding: 15px 40px;
	border-radius: 6px;
	border: none;
}
.how__it-works--section .how__it-works {
	-webkit-box-flex: row;
	-ms-flex: row;
	flex: row;
}
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 1280px;
	height: 120px;
	background-color: #2c343e;
	margin: 0 60px;
}
footer .footer__logo--links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 5%;
}
footer .footer__logo--links ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style-type: none;
}
footer .footer__logo--links ul li {
	padding: 10px;
}
footer .footer__logo--links ul a {
	text-decoration: none;
	color: #fefcf7;
}
footer .footer_social-media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 5%;
}
footer .footer_social-media ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style-type: none;
}
footer .footer_social-media ul li {
	padding: 10px;
}
footer .footer_social-media ul a {
	text-decoration: none;
	color: #fefcf7;
}
footer #footer-logo {
	width: 280px;
	height: 50px;
	padding: 10px;
}
footer img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 15px 0;
}
