@import '../components/footer';

.showcase {
	height: 600px;
	width: auto;
	margin-bottom: 30px;

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 15px 0;

		ul {
			display: flex;
			list-style-type: none;
		}

		li {
			padding: 10px;
		}

		a {
			color: $text-color-light;
		}

		a:hover {
			color: black;
		}
	}

	.header__hero {
		position: relative;
		background-image: url('https://bgorwin.github.io/coffee-subscription/assets/home/desktop/image-hero-coffeepress.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 600px;
		width: auto;
		margin-bottom: 30px;
		border-radius: 3px;

		.header__hero--mainText {
			position: relative;
			top: 115px;
			left: 50px;
			justify-content: center;
			height: 367px;
			max-width: 445px;

			h1 {
				font-family: sans-serif;
				font-weight: 300;
				font-size: 70px;
				color: $text-color-white;
			}

			p {
				font-family: sans-serif;
				font-weight: 300;
				line-height: center;
				word-spacing: 1.5px;
				padding-top: 35px;
				font-size: 15px;
				color: $text-color-white;
			}

			button {
				position: relative;
				top: 65px;
				left: 0;
				font-size: 14px;
				color: $text-color-white;
				background-color: $button-primary;
				padding: 15px 40px;
				border-radius: 6px;
				border: none;
			}
		}
	}

	a {
		color: $text-color-dark;
	}
}

// Our Collection Section, Home Page
.our__collection {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	height: auto;
	margin: 0 auto;
	justify-content: center;

	.our__collection--title {
		position: relative;
		top: 70px;
		left: 0;
		width: auto;

		h1 {
			background: $gradient;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			display: inline-block;
			text-align: center;
			width: 100%;
			font-weight: normal;
			font-size: 115px;

			background-image: linear-gradient(
				to top,
				#c4c5c7 0%,
				#dcdddf 52%,
				#ebebeb 100%
			);
		}
	}

	.out__collection-coffee-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;

		.our__coffee-card {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			width: 230px;
			height: 320px;
			padding: 10px;
			margin: 0 5px 0 5px;
			z-index: 2;

			img {
				background-repeat: no-repeat;
				background-position: center;
				justify-content: center;
				align-content: center;

				width: 245px;
			}

			.our__coffee-card-body {
				h3 {
					font-weight: lighter;
					font-size: 18px;
					margin-top: 20px;
					text-align: center;
				}

				p {
					padding-top: 20px;
					font-weight: lighter;
					text-align: center;
					font-size: 13px;
				}
			}
		}
	}
}

.why__choose-us {
	background-color: $background-color-dark;
	width: auto;
	height: auto;
	border-radius: 3px;
	margin: 30px 10%;

	.why__choose-us-heading {
		color: $text-color-white;
		max-width: 540px;
		height: 176px;
		justify-items: center;
		text-align: center;
		margin: 0 auto;
		padding: 85px 50px;
	}

	h1 {
		font-size: 40px;
		margin-bottom: 25px;
	}

	p {
		font-weight: lighter;
		font-size: 16px;
	}

	.why__choose-us--card-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: auto;
		margin: 0 auto;

		.why__choose-us-card {
			position: relative;
			top: 140px;
			left: 0px;
			background-color: $background-color-blue;
			height: 385px;
			width: 265px;

			margin: 10px;
			border-radius: 5px;
			justify-content: center;
			align-items: center;

			img {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				padding: 80px 10px;
			}

			.why__choose-us-card--body {
				width: 255px;
				height: 124px;
				align-items: center;
				justify-content: center;
				color: $text-color-white;
				margin: 0 auto;

				h2 {
					text-align: center;
					margin-bottom: 24px;
				}

				p {
					text-align: center;
					padding: 10px;
					font-size: 16px;
				}
			}
		}
	}
}

.how__it-works--section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	height: auto;
	width: 1111px;
	padding-top: 200px;
	// margin: 250px auto;

	// .how__it-works {
	// 	margin-left: 4%;
	// 	margin: 0 0 0 7%;
	// }

	.how__it-works-card--section {
		display: flex;
		flex-wrap: wrap;
		height: auto;
		width: 100%;
		margin: 50px auto;

		.how__it-works-box {
			justify-content: center;
			margin: 0 auto;
		}

		.how__it-works--card {
			width: 265px;
			height: 345px;

			margin: 30px 59px 30px 0px;

			span {
				font-size: 72px;
				color: $how-it-works-span;
			}

			h2 {
				color: $background-color-dark;
				width: 170px;
				font-size: 32px;
				margin: 40px 0px;
			}

			p {
				color: $text-color-dark;
				font-size: 16px;
			}
		}
	}

	.how__it-works--button {
		position: relative;
		top: 65px;
		left: 15px;
		font-size: 14px;
		color: $text-color-white;
		background-color: $button-secondary;
		padding: 15px 40px;
		border-radius: 6px;
		border: none;
		margin-bottom: 200px;
	}

	.how__it-works {
		flex: row;
	}
}

// Tablet Media Query

@media screen and (max-width: 780px) {
}
