@import '../abstracts/utilities';
@import '../components/footer';
@import '../components/button';

.showcase {
	height: 600px;
	width: auto;
	margin-bottom: 30px;

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 15px 0;

		ul {
			display: flex;
			list-style-type: none;
		}

		li {
			padding: 10px;
		}

		a {
			color: $text-color-light;
		}

		a:hover {
			color: black;
		}
	}

	.header__plan {
		position: relative;
		background-image: url('https://bgorwin.github.io/coffee-subscription/assets/plan/desktop/image-hero-blackcup.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 450px;
		width: auto;
		margin-bottom: 30px;
		border-radius: 3px;

		.header__plan--mainText {
			position: relative;
			top: 115px;
			left: 50px;
			justify-content: center;
			height: 367px;
			max-width: 445px;

			h1 {
				font-family: sans-serif;
				font-weight: 300;
				font-size: 70px;
				color: $text-color-white;
			}

			p {
				font-family: sans-serif;
				font-weight: 300;
				line-height: center;
				word-spacing: 1.5px;
				padding-top: 35px;
				font-size: 15px;
				color: $text-color-white;
			}

			button {
				position: relative;
				top: 65px;
				left: 0;
				font-size: 14px;
				color: $text-color-white;
				background-color: $button-primary;
				padding: 15px 40px;
				border-radius: 6px;
				border: none;
			}
		}
	}

	a {
		color: $text-color-dark;
	}
}

// Chose Your Coffee Block
.plan__how__it-works-card--section {
	display: flex;
	width: 1280px;
	height: auto;
	background-color: $background-color-dark;
	padding: 50px;
	border-radius: 5px;

	.plan__how__it-works--card {
		flex-direction: column;
		width: 285px;
		height: 345px;
		padding: 0px 15px;
		margin: 0 auto;

		span {
			font-size: 72px;
			color: $how-it-works-span;
		}

		h3 {
			color: $text-color-white;
			font-weight: 300;
			width: 170px;
			font-size: 32px;
			margin: 40px 0px;
		}

		p {
			color: $text-color-white;
			font-size: 16px;
			font-weight: 300;
		}
	}
}

.plan__selection-section {
	display: flex;
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 90px;

	.selection__type-options {
		flex-wrap: wrap;
		width: 260px;
		margin-left: 3%;
		margin-right: 9%;

		p {
			font-size: 24px;
			font-weight: 300;
			color: $text-color-light;
			padding: 8px 0px 10px 0px;
			border-bottom: 1px solid $text-color-light;
			cursor: pointer;
		}

		p:hover {
			color: $text-color-dark;
		}

		span {
			font-size: 24px;
			padding-right: 20px;
		}
	}

	.plan__selection-dropdown-section {
		width: 100%;

		.selection__type-options-dropdown {
			.selection__type-option {
				h2 {
					display: flex;
					justify-content: space-between;
					font-size: 40px;
					font-weight: 400;
					color: $text-color-light;
				}

				span {
					img {
						margin: 90% auto;
					}
				}

				.selection__type-cards {
					display: flex;
					justify-content: space-between;
					margin: 50px auto;

					.selection__type-card {
						background-color: $background-color-light;
						width: 228px;
						height: 250px;
						padding: 30px 20px;
						border-radius: 5px;

						&:hover {
							background-color: #fdd6ba;
						}

						h3 {
							font-size: 24px;
							font-weight: 400;
							padding-bottom: 20px;
						}

						p {
							font-size: 16px;
							font-weight: 300;
							line-height: 1.5;
						}

						&:active {
							background-color: $background-color-blue;

							h3 {
								color: $text-color-white;
							}

							p {
								color: $text-color-white;
							}
						}
					}
				}
			}
		}
	}
}

.plan__order-summary-section {
	display: flex;
	justify-content: flex-end;

	.plan__order-summary {
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		max-width: 780px;
		height: 208px;
		background-color: $background-color-dark;
		color: $text-color-white;
		padding: 40px;
		border-radius: 5px;

		h4 {
			font-size: 16px;
			font-weight: 300;
			width: 100%;
			color: $text-color-light;
			margin-bottom: 10px;
		}

		p {
			font-size: 24px;
			line-height: 1.5;
		}

		span {
			color: $text-color-blue;
		}
	}
}

.plan__order-summary-button {
	display: flex;
	justify-content: flex-end;
	padding: 40px 0 100px 0;
	button {
		background-color: $button-secondary;
	}
}

// Coffee Selection Section

@media screen and (max-width: 930px) {
	.plan__how__it-works-card--section {
		display: flex;
		width: 100% !important;

		.plan__how__it-works--card {
			flex-wrap: wrap;
		}
	}
}

@media screen and (max-width: 715px) {
	.showcase {
		position: relative;

		.header__plan {
			margin: 0 auto;

			.header__plan--mainText {
				top: 120px;
				left: 0;
				margin: 0 auto;
				width: 80%;
				height: 200px;

				h1 {
					font-weight: 400;
					text-align: center;
					font-size: 40px;
				}

				p {
					font-size: 15px;
					text-align: center;

					line-height: 2.5;
					height: auto;
				}
			}
		}
	}

	.plan__how__it-works-card--section {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 50px 5px 0px 5px;

		.plan__how__it-works--card {
			margin: 0 auto;
			flex-direction: column;
			width: 400px;
			height: 300px;

			span {
				margin: 40%;
			}

			h3 {
				text-align: center;
				width: 280px;
				font-size: 28px;
				margin: 5px auto;
				padding: 10px 0px;
			}

			p {
				font-size: 15px;
				text-align: center;
				line-height: 1.5;
				margin: 0 auto;
				padding: 10px 0px;
			}
		}
	}
}
