$text-color-dark: #333d4b;
$text-color-light: #83888f;
$text-color-white: #fefcf7;
$how-it-works-span: #fdd6ba;
$button-primary: #0e8784;
$button-secondary: #66d2cf;

$background-color-dark: #2c343e;
$background-color-blue: #0e8784;

$gradient: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);

// Fonts
$primary-font: 'Barlow', sans-serif;
